.about-section {
    background-color: #28a745;
    color: white;
    padding: 50px 0;
}
.about-text {
    font-family: 'Arial', sans-serif;
}


.icon-card h5 {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
}
h5{
    color: black;
}
.project-section{
    background-image: url(img/greybackground.jpg);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #af1b1b;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

#back-to-top:hover {
    background-color: #555;
}

.ai-section {
    background-color: white;
    padding: 20px;
    text-align: center;
}
.ai-section h1 {
    font-size: 2em;
}
.ai-section p {
    font-size: 1.2em;
}
.robot-icons {
    margin-top: 20px;
}
.robot-icons img {
    width: 30px;
    height: 15px;
    margin: 0 10px;
}

.ai-section{
    text-align: center;
}
.ai-section .benefit {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai-section .benefit img {
    margin-right: 10px;
}
.counter {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 20px 0;
  }
  .count-box {
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
}
.carde {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}
.carde h1 {
    color: blue;
    text-align: center;
}
.carde ul {
    list-style-type: none;
    padding: 0;
}
.carde ul li {
    text-align: auto;
    margin: 10px 0;
}
